@model IEnumerable<Entidades.clsDepartamentos>

@{
    ViewData["Title"] = "ListadoDepartamentos";
}

<h1>Listado de Departamentos</h1>

<p>
    <a asp-action="CrearDepartamento">Crear Nuevo Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarDepartamento", new {  id=item.id }) |
                @*@Html.ActionLink("Detalles", "DetallesDepartamento", new { id=item.Id }) | Creado todo pero lo veo innecesario*@
                @Html.ActionLink("Borrar", "BorrarDepartamento", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
    <tr>
        <td>
            @Html.ActionLink("Inicio","Index","Home")
        </td>
    </tr>
</table>
