@model IEnumerable<clsPersonasConNombreDpto>

@{
    ViewData["Title"] = "ListadoPersonas";
}

<h1>Listado de Personas</h1>
<p>
    <a asp-action="CrearPersona">Crear Nueva Persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDpto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            @*<td>             
                <img src="@item.Foto" height="100"/>
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.FechaNacimiento.Date.ToString("dd/MM/yyyy")) En esta versión me sale con la hora, y no la quiero*@
                @*Lo meto en un label para poder quitarle la hora*@
                <label>
                        @item.FechaNacimiento.Date.ToString("dd - MMMM - yyyy") 
                </label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDpto)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetallesPersona", new { id=item.Id }) |
                @Html.ActionLink("Editar", "EditarPersona", new { id=item.Id }) |
                @Html.ActionLink("Borrar", "BorrarPersona", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
    <tr>
        <td>
            @Html.ActionLink("Inicio","Index","Home")
        </td>
    </tr>
</table>
