@model IEnumerable<clsPersonasConNombreDpto>

@{
    ViewData["Title"] = "ListadoPersonas";
}

<h1>Listado de Personas</h1>
<p>
    <a asp-action="CrearPersona">Crear Nueva Persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDpto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            @*<td>             
                <img src="@item.Foto" height="100"/>
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.FechaNacimiento.Date.ToString("dd/MM/yyyy")) En esta versión me sale con la hora, y no la quiero*@
                @*Lo meto en un label para poder quitarle la hora*@
                <label>
                        @item.fechaNacimiento.Date.ToString("dd - MMMM - yyyy") 
                </label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDpto)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetallesPersona", new { id=item.id }) |
                @Html.ActionLink("Editar", "EditarPersona", new { id=item.id }) |
                @Html.ActionLink("Borrar", "BorrarPersona", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
    <tr>
        <td>
            @Html.ActionLink("Inicio","Index","Home")
        </td>
    </tr>
</table>
