@model Entidades.clsPersona

<label>Nombre: @Model.Nombre</label>
<br />
<br />
<label>Primer Apellido: @Model.PrimerApellido</label>
<br />
<br />
<label>Segundo Apellido: @Model.SegundoApellido</label>
<br />
<br />
<label>Edad: @Model.Edad</label>
<br />
<br />
<label>Fecha de Nacimiento: @Model.FechaNac</label>
<br />
<br />
<label>Dirección: @Model.Direccion</label>
<br />
<br />
<label>Teléfono: @Model.Telefono</label>
<br />
<br />
@Html.ActionLink("Volver","Index","Home")